/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global stylesheet, like index.css or App.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;  /* Optional, to ensure no default padding */
  }
  